In [11]:
import pandas as pd
dataset=[10,20,30,40,50,60,70]
series=pd.Series(dataset,index=['a','b','c','d','e','f','g'],name="example_of_pandas_seires")
print(series)

a    10
b    20
c    30
d    40
e    50
f    60
g    70
Name: example_of_pandas_seires, dtype: int64

In [25]:
#sales series
import pandas as pd
sales = [150, 200, 175, 220, 300, 400, 350]
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

sales_series = pd.Series(sales, index=days_of_week,name="sales_series")
print(sales_series)

Monday       150
Tuesday      200
Wednesday    175
Thursday     220
Friday       300
Saturday     400
Sunday       350
Name: sales_series, dtype: int64

In [31]:
import pandas as pd
# Student grades
grades = [85, 90, 78, 88, 92]
students = ['A', 'B', 'C', 'D', 'E']

grades_series = pd.Series(grades, index=students)
print(grades_series)

A    85
B    90
C    78
D    88
E    92
dtype: int64

In [93]:
#Creating DataFrame
import pandas as pd
data={"emp_id": [101,102,103,104,105,106,107],
     "name":["alice","Bob","Charlie","David","Elouise","Anthony","Kate"],
    "age":[20,21,22,23,24,25,23]}
df=pd.DataFrame(data)
#to update or add a column
df["city"]=["New York","New York","New York","New York","New York","New York","New York"]

#for adding new Columns 
newColumns = {
    "grade": ['A', 'A', 'B', 'C', 'B', 'A', 'B'],  # Use quotes for string values
    "salary": [50000, 50000, 45000, 30000, 40000, 50000, 45000]
}

# Correctly add new columns to the DataFrame
df["grade"] = newColumns["grade"]
df["salary"] = newColumns["salary"]

#adding columns in between

gender=['F','M','M','M','F','M','F']
df.insert(3,"Gender",gender)
print(df)

   emp_id     name  age Gender      city grade  salary
0     101    alice   20      F  New York     A   50000
1     102      Bob   21      M  New York     A   50000
2     103  Charlie   22      M  New York     B   45000
3     104    David   23      M  New York     C   30000
4     105  Elouise   24      F  New York     B   40000
5     106  Anthony   25      M  New York     A   50000
6     107     Kate   23      F  New York     B   45000